body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.212), rgba(0, 0, 0, 0.568)),
    url(./images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.weather-container {
  width: 50%;
  display: flex;
  margin: auto;
  padding-top: 50px;
}
.left {
  width: 65%;
  background-image: url(./images/city.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70vh;
  width: 70%;
  padding-left: 10px;
  padding-right: 10px;
}
.right {
  width: 35%;
  min-height: 500px;
  background-color: rgba(0, 0, 0, 0.781);
  padding-left: 5px;
  padding-right: 5px;
}
.header {
  width: 100%;
  height: 9vh;
  background-color: rgb(31, 41, 41);
  display: flex;
  justify-content: center;
  gap: 10px;
}
button {
  margin-top: 2vh;
  height: fit-content;
  padding: 1.3vh 4.5vw;
  border-radius: 10px;
  background-color: #e2531f;
  border: 1px solid rgb(31, 41, 41);
  color: white;
  font-size: 17px;
}
.bottom-left {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}
h1 {
  margin: 0;
}
.top-left {
  text-align: right;
  font-size: 24px;
  padding: 10px;
}
#date {
  font-size: 20px;
}
.logo {
  display: flex;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: 5px;
}
#logo {
  padding-top: 45px;
  width: auto;

  /* animation: rotateLogo 65s linear infinite; */
}
/* @keyframes rotateLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.search-div {
  width: 12vw;
  margin-left: 2vw;
  text-align: center;
}
#search {
  background-color: transparent;
  border-top: white solid 2px;
  border-bottom: white solid 3px;
  border-left: none;
  border-right: none;
  width: 12vw;
  color: gray;
  padding: 1.3vh 0.5vw;
}
#clearSky {
  text-align: center;
  margin: 1vh;
}
#feelsLike {
  display: flex;
  justify-content: space-between;
  margin-left: 1vw;
  margin-right: 1vw;
}
#humidity {
  display: flex;
  justify-content: space-between;
  margin-left: 1vw;
  margin-right: 1vw;
}
#visibility {
  display: flex;
  justify-content: space-between;
  margin-left: 1vw;
  margin-right: 1vw;
}
#windSpeed {
  display: flex;
  justify-content: space-between;
  margin-left: 1vw;
  margin-right: 1vw;
}
h6,
h5 {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
#skyAndClouds {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: 15px;
}
#icon {
  height: 50px;
}
#topContainer {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
#forecast-container {
  max-width: 850px;
  background-color: rgba(41, 40, 40, 0.829);
  height: auto;
  border-radius: 20px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
#forecastDays {
  min-width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.479);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#icon-forecast {
  height: 100px;
}
#forecastDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  margin: 5px;
}
.footer {
  width: 100%;
  height: 10.5vh;
  background-color: rgb(21, 24, 24);
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
  position: relative;
}

@media only screen and (max-width: 785px) {
  .weather-container {
    width: 100%;
    padding-top: 0px;
    height: 76vh;
  }
  h1 {
    font-size: 35px;
  }
  .search-div {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20vh;
  }
  #search {
    width: 100%;
  }
  button {
    margin-top: 2vh;
    height: fit-content;
    padding: 1vh 4vw;
    border-radius: 10px;
    background-color: #e2531f;
    border: 1px solid rgb(31, 41, 41);
    color: white;
    font-size: 17px;
  }
  .bottom-left {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    flex-wrap: wrap;
  }
  .footer {
    width: 100%;
    height: 15vh;
    background-color: rgb(21, 24, 24);
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 0px;
  }
  .right {
    width: 35%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.781);
    padding-left: 5px;
    padding-right: 5px;
  }
  .logo {
    display: flex;
    justify-content: center;
    margin-top: -30px;
  }
  #logo {
    padding-top: 25px;
    width: auto;

    /* animation: rotateLogo 65s linear infinite; */
  }
}
